@import '../variables';

.start-page .wrapper.welcome {
	min-height: 100vh;
	max-height: 100vh;

	grid-template-areas:
		'logo tasks aside'
		'main main main';

	@media (max-width: $mugen-breakpoint-large) {
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas:
			'logo'
			'aside'
			'main';
	}

	.page-tasks-wrapper {
		grid-area: tasks;
		@media (max-width: $mugen-breakpoint-large) {
			position: fixed;
			z-index: 100;
			top: 1em;
			left: 0.5em;
		}
	}

	.main {
		padding-top: 1em;
		display: grid;
		grid-template-areas: 'actions news';
		grid-template-columns: 1.5fr 1fr;

		@media (max-width: $mugen-breakpoint-large) {
			grid-template-areas: 'actions' 'news';
			grid-template-columns: auto;
		}

		section.tiles-panel {
			grid-area: actions;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			position: relative;
			> article {
				overflow: hidden;
				&:first-child {
					border-radius: 0.5em 0 0 0;
				}
				//&:nth-child(2) { border-radius: 0 .5em 0 0; }
				//&:last-child { border-radius: 0 0 .5em 0; }
				&:nth-last-child(2) {
					border-radius: 0 0 0 0.5em;
				}
				width: calc(50% - 0.5em);
				@media (max-width: $mugen-breakpoint-large) {
					width: 100%;
					margin-right: 0;
					&:first-child {
						border-radius: 0.5em 0.5em 0 0;
					}
					&:nth-last-child(2) {
						border-radius: 0;
					}
					&:nth-last-child(3) {
						border-radius: 0 0 0.5em 0.5em;
					}
				}
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid #ffffff80;
				margin: 0 0.5em 0.5em 0;
				font-weight: bold;
				> button {
					background: #ffffff33;
					border: none;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					padding: 0 1em;
					cursor: pointer;
					font-weight: bold;
					font-size: medium;
					color: white;
					flex-shrink: 0;
					i {
						margin-right: 0.3em;
						font-size: 2em;
					}
					span {
						font-size: 1.25em;
						@media screen and (min-width: 1250px) {
							font-size: 1.4em;
						}
					}
				}
				> blockquote {
					padding: 0.5em;
					margin: 0;
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					button {
						background: #ffffff4d;
						color: white;
						border: none;
						width: 100%;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						padding: 0.5em 1em;
						i {
							margin-right: 0.3em;
							font-size: 2em;
						}
					}
					label {
						border: none;
						width: 100%;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						padding: 0.5em 1em;
						i {
							margin-right: 0.3em;
							font-size: 2em;
						}
					}

					ul {
						list-style: none;
						padding: 0;
						margin: 0;
						li {
							padding: 0 1em;
							margin: 0.5em 0;
							i {
								margin-right: 0.5em;
								min-width: 1.2em;
								text-align: center;
							}
						}
					}
				}
			}
			.tile-tutorial {
				border: 1px solid tomato;
			}
			.tile-stats,
			.tile-repositories {
				margin-bottom: 0;
				li {
					cursor: pointer;
				}
				.disabled {
					opacity: 0.5;
				}
			}
			.tile-stats {
				li {
					display: flex;
					flex-direction: row;
					* {
						flex: 1;
					}
				}
			}
		}

		section.feed-panel {
			grid-area: news;
			background: #ffffff33;
			padding: 1em;
			display: flex;
			flex-direction: column;
			border-radius: 0 0.5em 0.5em 0;
			overflow: auto;
			@media (max-width: $mugen-breakpoint-large) {
				border-radius: 0;
			}
			border: 1px solid #ffffff80;
			> div {
				max-height: 75vh;
				overflow: auto;
				padding-right: 0.5em;
			}
		}
	}
}
