@import '../../styles/variables';

.lyrics-box {
	&.mobile {
		@media screen and (min-width: $mugen-breakpoint-large) {
			display: none;
		}
		> .lyrics {
			margin: 1em auto 2em;
		}
	}
	> .toggle {
		text-align: center;
		width: 100%;
		cursor: pointer;
		user-select: none;
		font-size: 1.125em;
		padding: 1em;
	}
	> .lyrics {
		width: 100%;
		background-color: lighten($mugen-background, 10);
		padding: 1em;
		margin: 0 0.5em;
		border-radius: 15px;
		text-align: center;
		> div {
			transition: font-size, color, margin ease 200ms, 200ms, 200ms;
			> span {
				&.singing {
					color: scale-color(skyblue, $saturation: 100%, $lightness: -15%);
				}
			}
			&.hidden {
				font-size: 0;
			}
			&.greyed {
				color: lighten($mugen-background, 65);
			}
			&.current {
				font-size: 1.25em;
				font-weight: bold;
				color: ghostwhite;
				margin: 0.25em 0;
				&.forced {
					color: goldenrod;
				}
			}
			&.incoming {
				color: white;
				margin: 0.1em 0;
			}
		}
	}
}
