@import '../../frontend/styles/variables';
@import '../../toast';
@import '../../frontend/styles/components/buttons';
@import '../../frontend/styles/components/input';
@import '../../frontend/styles/components/overlays';
@import '../../frontend/styles/fonts/Lato/stylesheet';

body {
	font-family: Lato, sans-serif;
	background: $mugen-background;
	color: white;
}

.loginBox {
	margin: 0 1em;

	button {
		border: none;
	}

	.redBorders {
		border: #ee111180 solid;
		border-width: 0px 0px 0px 5px;
	}

	.btn.largeButton {
		margin-top: 0.5em;
		width: 100%;
		font-weight: bold;
		&.submitButton {
			background-color: $mugen-btn-primary-background;
		}
		&.guestButton {
			background-color: scale-color(map-get($mugen-colors, 'blue'), $lightness: 20%);
		}
		&.loginButton {
			background-color: scale-color(map-get($mugen-colors, 'green'), $lightness: 10%);
		}
		&.signupButton {
			background-color: scale-color(map-get($mugen-colors, 'green'), $lightness: 15%);
		}
	}

	.helpButton {
		border-radius: 50%;
		margin-right: 0.5em;
		padding: 0 0.5em;
		&:hover {
			background-color: white;
		}
	}

	> * {
		margin: 1em 0;
	}
	> form {
		margin: 0;
	}
}

.loginHeader {
	.loginImage {
		max-width: 350px;
		margin: auto;
		img {
			width: 100%;
		}
	}
	.loginWelcomeMessage {
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
	}
	.loginSlogan {
		text-align: center;
		font-size: 1.5em;
	}
}

.loginContainer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100vh;
}

@media screen and (max-width: 690px) {
	.loginContainer {
		flex-direction: column;
		justify-content: flex-start;
	}
}

.loginForm {
	> * {
		margin: 1em 0;
	}
}

.loginLine {
	display: flex;
	align-items: center;

	.loginName {
		min-width: 0;
		flex-shrink: 1;
	}

	.instanceName {
		min-width: 0;
		flex-shrink: 1;
	}

	.arobase {
		font-size: x-large;
		margin: 0 0.25em;
	}
}

.loginLabel {
	text-align: left;
}

.spacedSwitch {
	display: flex;
	justify-content: space-evenly;
}

.versionKM {
	display: flex;
	flex-direction: column;
	align-items: center;
}
